openapi: 3.0.1
info:
  title: LawVu Account Auth API
  description: Apis for account related resources (authentication, profiles, organisation details etc)
  version: '1.0'
servers:
- url: https://api-sandbox.lawvu.com/account-apis
  description: Sandbox API
- url: https://api.lawvu.com/account-apis
  description: Production API
tags:
- name: Auth
paths:
  /v1/auth/token:
    post:
      tags:
      - Auth
      summary: Get token
      description: Get a token to access the rest of the LawVu APIs
      operationId: post-v1-auth-token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                username:
                  type: string
                password:
                  type: string
                refresh_token:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                SSOId:
                  type: string
                SAMLResponse:
                  type: string
                region_hint:
                  type: string
            encoding:
              grant_type:
                style: form
              client_id:
                style: form
              client_secret:
                style: form
              username:
                style: form
              password:
                style: form
              refresh_token:
                style: form
              code:
                style: form
              redirect_uri:
                style: form
              SSOId:
                style: form
              SAMLResponse:
                style: form
              region_hint:
                style: form
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TokenResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
components:
  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          nullable: true
        token_type:
          type: string
          nullable: true
        expires_in:
          type: integer
          format: int64
        refresh_token:
          type: string
          nullable: true
        userName:
          type: string
          nullable: true
        userId:
          type: string
          format: uuid
        expires:
          type: string
          format: date-time
        gateway:
          type: string
          nullable: true
        emailDomain:
          type: string
          nullable: true
      additionalProperties: false
