openapi: 3.0.1
info:
  title: LawVu Account Auth Contracts API
  description: Apis for account related resources (authentication, profiles, organisation details etc)
  version: '1.0'
servers:
- url: https://api-sandbox.lawvu.com/account-apis
  description: Sandbox API
- url: https://api.lawvu.com/account-apis
  description: Production API
tags:
- name: Contracts
paths:
  /v2/contracts:
    get:
      tags:
      - Contracts
      summary: Get contracts
      description: Retrieve a list of contracts
      operationId: get-v2-contracts
      parameters:
      - name: $filter
        in: query
        description: Filter the results using OData filter syntax
        schema:
          type: string
      - name: $orderby
        in: query
        description: Order the results using OData orderby syntax
        schema:
          type: string
      - name: $skip
        in: query
        description: Skip the specified number of results
        schema:
          type: integer
      - name: $top
        in: query
        description: Limit the number of results returned
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractCollectionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/HttpValidationProblemDetails'
              example:
                detail: The request was invalid and could not be processed
                errors:
                  Name: Operation 'gt' is not supported for 'Name'
                instance: /contracts
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 400
                title: Invalid request
                type: https://api-docs.lawvu.com/errors/invalid_request
    post:
      tags:
      - Contracts
      summary: Create contract
      description: Creates a contract based on the provided contract type.
      operationId: post-v2-contracts
      requestBody:
        content:
          application/json:
            schema:
              required:
              - type
              allOf:
              - $ref: '#/components/schemas/CreateContract'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Location to retrieve the created contract
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedContract'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/HttpValidationProblemDetails'
              example:
                detail: The request was invalid and could not be processed
                errors:
                  Name: Required
                instance: /contracts/
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 400
                title: Invalid request
                type: https://api-docs.lawvu.com/errors/invalid_request
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                detail: The request could not be processed due to a conflict
                errors:
                  ExternalId: Is already in use
                instance: /contracts/
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 409
                title: Conflict
                type: https://api-docs.lawvu.com/errors/conflict
  /v2/contracts/{contractId}:
    get:
      tags:
      - Contracts
      summary: Get contract
      description: Retrieve a contract by its identifier
      operationId: get-v2-contracts-contractid
      parameters:
      - name: contractId
        in: path
        description: The system identifier for the contract
        required: true
        schema:
          type: integer
          description: The system identifier for the contract
          format: int32
          example: 5348
        example: 5348
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                detail: The requested resource could not be found
                instance: /contracts/5348
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 404
                title: Resource not found
                type: https://api-docs.lawvu.com/errors/resource_not_found
    patch:
      tags:
      - Contracts
      summary: Update contract
      description: Updates a contracts details
      operationId: patch-v2-contracts-contractid
      parameters:
      - name: contractId
        in: path
        description: The system identifier for the contract
        required: true
        schema:
          type: integer
          description: The system identifier for the contract
          format: int32
          example: 5348
        example: 5348
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateContract'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/HttpValidationProblemDetails'
              example:
                detail: The request was invalid and could not be processed
                errors:
                  Name: Required
                instance: /contracts/5348
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 400
                title: Invalid request
                type: https://api-docs.lawvu.com/errors/invalid_request
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                detail: You do not have permission to update this contract
                instance: /contracts/5348
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 403
                title: Forbidden
                type: https://api-docs.lawvu.com/errors/forbidden
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                detail: The requested resource could not be found
                instance: /contracts/5348
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 404
                title: Resource not found
                type: https://api-docs.lawvu.com/errors/resource_not_found
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                detail: The request could not be processed due to a conflict
                errors:
                  ExternalId: Is already in use
                instance: /contracts/5348
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 409
                title: Conflict
                type: https://api-docs.lawvu.com/errors/conflict
  /v2/contracts/{contractId}/files/{fileId}:
    get:
      tags:
      - Contracts
      summary: Get contract file
      description: Retrieve information about a file on a contract
      operationId: get-v2-contracts-contractid-files-fileid
      parameters:
      - name: contractId
        in: path
        description: The system identifier for the contract
        required: true
        schema:
          type: integer
          description: The system identifier for the contract
          format: int32
          example: 5348
        example: 5348
      - name: fileId
        in: path
        description: The system identifier for the file
        required: true
        schema:
          type: integer
          description: The system identifier for the file
          format: int32
          example: 9456
        example: 9456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                detail: The requested resource could not be found
                instance: /contracts/5348/files/9456
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 404
                title: Resource not found
                type: https://api-docs.lawvu.com/errors/resource_not_found
  /v2/contractTypes:
    get:
      tags:
      - Contracts
      summary: Get contract types
      description: Retrieve a list of contract types
      operationId: get-v2-contracttypes
      parameters:
      - name: $skip
        in: query
        description: Specifies the number of items to skip
        schema:
          type: integer
          description: Specifies the number of items to skip
          format: int32
          default: 0
      - name: $top
        in: query
        description: Specifies the maximum number of items to return
        schema:
          type: integer
          description: Specifies the maximum number of items to return
          format: int32
          default: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractTypeCollectionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/HttpValidationProblemDetails'
              example:
                detail: The request was invalid and could not be processed
                instance: /contractsTypes/
                operationId: 7edb5d62-f5bf-463b-9410-cdd8b3293d89
                status: 400
                title: Invalid request
                type: https://api-docs.lawvu.com/errors/invalid_request
  /v1/contracts:
    post:
      tags:
      - Contracts
      summary: Create contract by upload
      description: Creates a new contract, with the main contract file being sent in the body of the request
      operationId: post-v1-contracts
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - ContractTemplateId
              - Name
              type: object
              properties:
                ContractTemplateId:
                  type: integer
                  description: The template for the category
                  format: int32
                MatterId:
                  type: integer
                  description: Optionally set the parent matter id
                  format: int32
                ParentContractId:
                  type: integer
                  description: Optionally set the parent contract id
                  format: int32
                Fields:
                  type: string
                  description: The fields (from contract template) for the contract
                Name:
                  type: string
                  description: The contract name
                ExternalId:
                  type: string
                  description: Optionally set an ID from an external system. Uniqueness is enforced for your organisation
                TeamId:
                  type: integer
                  description: 'Assigns a team to the contract. This can be required [ref: contractTemplate: TeamRequired]'
                  format: int32
                ContractFile:
                  type: string
                  format: binary
            example:
              contractTemplateId: 1
              matterId: 321
              parentContractId: 123
              fields: '{"field_1":"field 1","field_2":123,"field_3":["yes"],"field_4":true}'
              name: Test Contract
              externalId: '123'
              teamId: null
              contractFile: null
            encoding:
              ContractTemplateId:
                style: form
              MatterId:
                style: form
              ParentContractId:
                style: form
              Fields:
                style: form
              Name:
                style: form
              ExternalId:
                style: form
              TeamId:
                style: form
              ContractFile:
                style: form
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
    get:
      tags:
      - Contracts
      summary: Get contracts
      description: "Gets contracts filtered by single or multiple fields.\r\n<br /> \r\n_To filter by one field_: \"filtering.field\", \"filtering.operator\" and \"filtering.value\" parameters must be filled.\r\n<br /> \r\n_To filter by multiple fields_: \"filtering.logic\" and \"filtering.filters\" parameters must be filled."
      operationId: get-v1-contracts
      parameters:
      - name: skip
        in: query
        description: The number of contracts to skip (used for paging)
        schema:
          type: integer
          format: int32
      - name: fields
        in: query
        description: Fields to include in the response
        schema:
          type: array
          items:
            type: string
      - name: filtering.logic
        in: query
        description: Gets or sets the filtering logic for filters. Value by default is 'and'
        schema:
          enum:
          - and
          - or
          type: string
      - name: filtering.filters
        in: query
        description: "Array of filters object (optional)\r\n<br /> \r\n_Object Properties_:\r\n<br /> \r\n* _Field_: field to filter by\r\n<br /> \r\n* _Operator_: operator used to filter by\r\n<br /> \r\n* _Value_: value to filter by"
        schema:
          $ref: '#/components/schemas/FilteringArray'
      - name: filtering.field
        in: query
        description: Field to filter by (optional)
        schema:
          type: string
      - name: filtering.operator
        in: query
        description: Operator used for filtering (optional)
        schema:
          enum:
          - eq
          - neq
          - lt
          - lte
          - gt
          - gte
          - startswith
          - endswith
          - contains
          - doesnotcon
          - isnull
          type: string
      - name: filtering.value
        in: query
        description: Value to filter by (optional)
        schema:
          type: string
      - name: sorting.direction
        in: query
        description: Set the sorting direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - name: sorting.field
        in: query
        description: Set the sorting fields
        schema:
          type: string
      - name: take
        in: query
        description: 'The maximum number of contracts to return<p>Default: 50</p>'
        schema:
          type: integer
          format: int32
          default: 50
      - name: context
        in: query
        description: 'Controls the scope of contracts returned by this operation<p>Default: Personal</p><p>Options:</p><ul><li>All - Returns all contracts regardless of whether the authenticated user is a member. Requires the authenticated user to be a member of the Contract Administrators security group</li><li>Personal - Returns contracts which the authenticated user is a member of. Equivalent to the "My contracts" view in LawVu</li><li>Teams - Returns all contracts that are accessible by teams that the authenticated user is a member of</li><li>Restricted - Returns restricted contracts. Requires the authenticated user to be an Organization Administrator</li></ul>'
        schema:
          enum:
          - All
          - Personal
          - Teams
          - Restricted
          type: string
          description: <p>Options:</p><ul><li>All - Returns all contracts regardless of whether the authenticated user is a member. Requires the authenticated user to be a member of the Contract Administrators security group</li><li>Personal - Returns contracts which the authenticated user is a member of. Equivalent to the "My contracts" view in LawVu</li><li>Teams - Returns all contracts that are accessible by teams that the authenticated user is a member of</li><li>Restricted - Returns restricted contracts. Requires the authenticated user to be an Organization Administrator</li></ul>
          default: Personal
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DataSourceResultModel'
              example:
                data:
                - restricted: false
                  $id: 123
                  name: Example contract
                  onContract: true
                total: 1
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceResultModel'
              example:
                data:
                - restricted: false
                  $id: 123
                  name: Example contract
                  onContract: true
                total: 1
            text/json:
              schema:
                $ref: '#/components/schemas/DataSourceResultModel'
              example:
                data:
                - restricted: false
                  $id: 123
                  name: Example contract
                  onContract: true
                total: 1
  /v1/contracts/quickfind:
    get:
      tags:
      - Contracts
      summary: Find contracts
      description: Quickly find and filter contracts
      operationId: get-v1-contracts-quickfind
      parameters:
      - name: term
        in: query
        description: A term to search contracts by
        schema:
          type: string
      - name: take
        in: query
        description: 'The number of contracts to return (maximum: 100, default: 20)'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QuickFindContractArray'
            application/json:
              schema:
                $ref: '#/components/schemas/QuickFindContractArray'
            text/json:
              schema:
                $ref: '#/components/schemas/QuickFindContractArray'
  /v1/contracts/recent:
    get:
      tags:
      - Contracts
      summary: Recent  contracts
      description: Returns recently viewed (ref:take) contracts for the user
      operationId: get-v1-contracts-recent
      parameters:
      - name: take
        in: query
        description: 'The number of recently viewed contracts to return<p>Default: 5</p>'
        schema:
          type: integer
          format: int32
          default: 5
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RecentContractArray'
              example:
              - id: 95
                title: My Contract
                description: 'Contract ID: 95'
                name: My Contract
                matterNumber: LV1234-0012
                contractStatus: Draft
                ownerId: 08FD1ED1-627E-4CB9-8388-731227584D21
                lastActivityDateUtc: '2023-12-15T20:30:00Z'
              - id: 789
                title: Another Contract
                description: 'Contract ID: 789'
                name: Another Contract
                matterNumber: null
                contractStatus: Void
                ownerId: BE17D7D6-721A-4F6D-B081-CAABB6D8F5B9
                lastActivityDateUtc: '2024-01-12T10:00:00Z'
              - id: 684
                title: Different Contract
                description: 'Contract ID: 684'
                name: Different Contract
                matterNumber: null
                contractStatus: Executed
                ownerId: BE17D7D6-721A-4F6D-B081-CAABB6D8F5B9
                lastActivityDateUtc: '2023-12-10T15:30:00Z'
            application/json:
              schema:
                $ref: '#/components/schemas/RecentContractArray'
              example:
              - id: 95
                title: My Contract
                description: 'Contract ID: 95'
                name: My Contract
                matterNumber: LV1234-0012
                contractStatus: Draft
                ownerId: 08FD1ED1-627E-4CB9-8388-731227584D21
                lastActivityDateUtc: '2023-12-15T20:30:00Z'
              - id: 789
                title: Another Contract
                description: 'Contract ID: 789'
                name: Another Contract
                matterNumber: null
                contractStatus: Void
                ownerId: BE17D7D6-721A-4F6D-B081-CAABB6D8F5B9
                lastActivityDateUtc: '2024-01-12T10:00:00Z'
              - id: 684
                title: Different Contract
                description: 'Contract ID: 684'
                name: Different Contract
                matterNumber: null
                contractStatus: Executed
                ownerId: BE17D7D6-721A-4F6D-B081-CAABB6D8F5B9
                lastActivityDateUtc: '2023-12-10T15:30:00Z'
            text/json:
              schema:
                $ref: '#/components/schemas/RecentContractArray'
              example:
              - id: 95
                title: My Contract
                description: 'Contract ID: 95'
                name: My Contract
                matterNumber: LV1234-0012
                contractStatus: Draft
                ownerId: 08FD1ED1-627E-4CB9-8388-731227584D21
                lastActivityDateUtc: '2023-12-15T20:30:00Z'
              - id: 789
                title: Another Contract
                description: 'Contract ID: 789'
                name: Another Contract
                matterNumber: null
                contractStatus: Void
                ownerId: BE17D7D6-721A-4F6D-B081-CAABB6D8F5B9
                lastActivityDateUtc: '2024-01-12T10:00:00Z'
              - id: 684
                title: Different Contract
                description: 'Contract ID: 684'
                name: Different Contract
                matterNumber: null
                contractStatus: Executed
                ownerId: BE17D7D6-721A-4F6D-B081-CAABB6D8F5B9
                lastActivityDateUtc: '2023-12-10T15:30:00Z'
  /v1/contracts/entities:
    get:
      tags:
      - Contracts
      summary: Contract entities
      description: Gets contract entities (other parties)
      operationId: get-v1-contracts-entities
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractEntityArray'
              example:
              - id: 1
                name: Entity 1
              - id: 2
                name: Entity 2
            application/json:
              schema:
                $ref: '#/components/schemas/ContractEntityArray'
              example:
              - id: 1
                name: Entity 1
              - id: 2
                name: Entity 2
            text/json:
              schema:
                $ref: '#/components/schemas/ContractEntityArray'
              example:
              - id: 1
                name: Entity 1
              - id: 2
                name: Entity 2
    post:
      tags:
      - Contracts
      summary: Create contract entity
      description: Creates a contract entity
      operationId: post-v1-contracts-entities
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: string
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/*+json:
            schema:
              type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
  /v1/contracts/externalid/{externalId}:
    get:
      tags:
      - Contracts
      summary: ExternalId lookup
      operationId: get-v1-contracts-externalid-externalid
      parameters:
      - name: externalId
        in: path
        description: The externalId to lookup
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExternalIdLookupModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIdLookupModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ExternalIdLookupModel'
  /v1/contracts/{contractId}:
    patch:
      tags:
      - Contracts
      summary: Update contract
      operationId: patch-v1-contracts-contractid
      parameters:
      - name: contractId
        in: path
        description: The Id of the contract
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: The update request (in jsonpatch format)
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
            - value: '123'
              path: ExternalId
              op: replace
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
            - value: '123'
              path: ExternalId
              op: replace
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
            - value: '123'
              path: ExternalId
              op: replace
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
            - value: '123'
              path: ExternalId
              op: replace
      responses:
        '200':
          description: Success
    get:
      tags:
      - Contracts
      summary: Get contract
      description: Get contract details by contract id
      operationId: get-v1-contracts-contractid
      parameters:
      - name: contractId
        in: path
        description: The Id of the contract
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ContractDetails'
  /v1/contracts/{contractId}/fields:
    get:
      tags:
      - Contracts
      summary: Get contract fields
      description: Get contract fields by contract id
      operationId: get-v1-contracts-contractid-fields
      parameters:
      - name: contractId
        in: path
        description: The Id of the contract
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractFieldData'
              example:
                detailFields:
                  schema:
                    properties:
                      field_1:
                        fieldId: 1
                        title: An example field name
                        description: Example field description
                        lawvuType: 7
                        isReadOnly: false
                        type: boolean
                        label: ''
                    order:
                    - field_1
                    required:
                    - field_1
                  model:
                    field_1: true
                coreFields:
                  schema: null
                  model: null
            application/json:
              schema:
                $ref: '#/components/schemas/ContractFieldData'
              example:
                detailFields:
                  schema:
                    properties:
                      field_1:
                        fieldId: 1
                        title: An example field name
                        description: Example field description
                        lawvuType: 7
                        isReadOnly: false
                        type: boolean
                        label: ''
                    order:
                    - field_1
                    required:
                    - field_1
                  model:
                    field_1: true
                coreFields:
                  schema: null
                  model: null
            text/json:
              schema:
                $ref: '#/components/schemas/ContractFieldData'
              example:
                detailFields:
                  schema:
                    properties:
                      field_1:
                        fieldId: 1
                        title: An example field name
                        description: Example field description
                        lawvuType: 7
                        isReadOnly: false
                        type: boolean
                        label: ''
                    order:
                    - field_1
                    required:
                    - field_1
                  model:
                    field_1: true
                coreFields:
                  schema: null
                  model: null
    patch:
      tags:
      - Contracts
      summary: Update fields
      operationId: patch-v1-contracts-contractid-fields
      parameters:
      - name: contractId
        in: path
        description: The Id of the contract
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: The update request (in jsonpatch format)
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            examples:
              string field:
                value:
                  value: new value
                  path: /field_string
                  op: replace
              number field:
                value:
                  value: 123
                  path: /field_number
                  op: replace
              date field:
                value:
                  value: '2022-03-03'
                  path: /field_date
                  op: replace
              boolean field:
                value:
                  value: true
                  path: /field_bool
                  op: replace
              object field:
                value:
                  value:
                    id: object_id
                  path: /field_object
                  op: replace
              array field:
                value:
                  value:
                  - 1
                  - 2
                  - 3
                  path: /field_array
                  op: replace
              group field:
                value:
                  value: string under a group
                  path: /group1/field_string
                  op: replace
              nested group field:
                value:
                  value: string under multiple groups
                  path: /group1/group2/group3/field_string
                  op: replace
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            examples:
              string field:
                value:
                  value: new value
                  path: /field_string
                  op: replace
              number field:
                value:
                  value: 123
                  path: /field_number
                  op: replace
              date field:
                value:
                  value: '2022-03-03'
                  path: /field_date
                  op: replace
              boolean field:
                value:
                  value: true
                  path: /field_bool
                  op: replace
              object field:
                value:
                  value:
                    id: object_id
                  path: /field_object
                  op: replace
              array field:
                value:
                  value:
                  - 1
                  - 2
                  - 3
                  path: /field_array
                  op: replace
              group field:
                value:
                  value: string under a group
                  path: /group1/field_string
                  op: replace
              nested group field:
                value:
                  value: string under multiple groups
                  path: /group1/group2/group3/field_string
                  op: replace
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            examples:
              string field:
                value:
                  value: new value
                  path: /field_string
                  op: replace
              number field:
                value:
                  value: 123
                  path: /field_number
                  op: replace
              date field:
                value:
                  value: '2022-03-03'
                  path: /field_date
                  op: replace
              boolean field:
                value:
                  value: true
                  path: /field_bool
                  op: replace
              object field:
                value:
                  value:
                    id: object_id
                  path: /field_object
                  op: replace
              array field:
                value:
                  value:
                  - 1
                  - 2
                  - 3
                  path: /field_array
                  op: replace
              group field:
                value:
                  value: string under a group
                  path: /group1/field_string
                  op: replace
              nested group field:
                value:
                  value: string under multiple groups
                  path: /group1/group2/group3/field_string
                  op: replace
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            examples:
              string field:
                value:
                  value: new value
                  path: /field_string
                  op: replace
              number field:
                value:
                  value: 123
                  path: /field_number
                  op: replace
              date field:
                value:
                  value: '2022-03-03'
                  path: /field_date
                  op: replace
              boolean field:
                value:
                  value: true
                  path: /field_bool
                  op: replace
              object field:
                value:
                  value:
                    id: object_id
                  path: /field_object
                  op: replace
              array field:
                value:
                  value:
                  - 1
                  - 2
                  - 3
                  path: /field_array
                  op: replace
              group field:
                value:
                  value: string under a group
                  path: /group1/field_string
                  op: replace
              nested group field:
                value:
                  value: string under multiple groups
                  path: /group1/group2/group3/field_string
                  op: replace
      responses:
        '200':
          description: Success
  /v1/contracts/wizard:
    post:
      tags:
      - Contracts
      summary: Create contract
      description: Creates a new contract, using the contract template wizard
      operationId: post-v1-contracts-wizard
      requestBody:
        description: Details of the contract to be created
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateContract_2'
            example:
              contractTemplateId: 1
              matterId: 321
              parentContractId: 123
              fields: '{"field_1":"field 1","field_2":123,"field_3":["yes"],"field_4":true}'
              name: Test Contract
              externalId: '123'
              teamId: null
              contractFile: null
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContract_2'
            example:
              contractTemplateId: 1
              matterId: 321
              parentContractId: 123
              fields: '{"field_1":"field 1","field_2":123,"field_3":["yes"],"field_4":true}'
              name: Test Contract
              externalId: '123'
              teamId: null
              contractFile: null
          text/json:
            schema:
              $ref: '#/components/schemas/CreateContract_2'
            example:
              contractTemplateId: 1
              matterId: 321
              parentContractId: 123
              fields: '{"field_1":"field 1","field_2":123,"field_3":["yes"],"field_4":true}'
              name: Test Contract
              externalId: '123'
              teamId: null
              contractFile: null
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateContract_2'
            example:
              contractTemplateId: 1
              matterId: 321
              parentContractId: 123
              fields: '{"field_1":"field 1","field_2":123,"field_3":["yes"],"field_4":true}'
              name: Test Contract
              externalId: '123'
              teamId: null
              contractFile: null
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
components:
  schemas:
    AuditableReference:
      type: object
      properties:
        dateUtc:
          type: string
          description: The date and time the action was performed. The date and time uses the ISO-8601 format and will be in UTC
          format: date-time
          readOnly: true
          example: '2024-12-25T00:00:00Z'
        userName:
          type: string
          description: The username of who performed the action
          readOnly: true
          example: api.developer@lawvu.com
      additionalProperties: false
    Filtering:
      type: object
      properties:
        field:
          type: string
          description: Field to filter by (optional)
          nullable: true
        operator:
          enum:
          - eq
          - neq
          - lt
          - lte
          - gt
          - gte
          - startswith
          - endswith
          - contains
          - doesnotcon
          - isnull
          type: string
          description: Operator used for filtering (optional)<p>Options:</p><ul><li>eq</li><li>neq</li><li>lt</li><li>lte</li><li>gt</li><li>gte</li><li>startswith</li><li>endswith</li><li>contains</li><li>doesnotcon</li><li>isnull</li></ul>
        value:
          type: string
          description: Value to filter by (optional)
          nullable: true
      additionalProperties: false
    ContractStatus:
      enum:
      - Draft
      - Negotiating
      - Approval
      - Signing
      - Executed
      - Expired
      - Void
      type: string
    FileType:
      enum:
      - File
      - Folder
      - ContractDocument
      type: string
      description: The type of file entry
    OperationArray:
      type: array
      items:
        $ref: '#/components/schemas/Operation'
    FieldData:
      type: object
      properties:
        schema:
          type: object
          nullable: true
        model:
          type: object
          nullable: true
      additionalProperties: false
    ContractUser:
      type: object
      properties:
        userId:
          type: string
          nullable: true
        userFirstname:
          type: string
          nullable: true
        userLastname:
          type: string
          nullable: true
        userOrganisationId:
          type: integer
          format: int32
          nullable: true
        userOrganisationName:
          type: string
          nullable: true
        userHasPicture:
          type: boolean
        userPictureCacheId:
          type: integer
          format: int32
        userFullName:
          type: string
          nullable: true
        userInitials:
          type: string
          nullable: true
      additionalProperties: false
    CreatedContract:
      type: object
      properties:
        id:
          type: integer
          description: The system identifier for the contract
          format: int32
          readOnly: true
          example: 5348
      additionalProperties: false
      description: Represents a contract that has been created
    ExternalIdLookupModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
      additionalProperties: false
    ContractTypeCollectionResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContractType'
          description: The collection of items
      additionalProperties: false
      description: Response wrapper of a collection of items
    Operation:
      type: object
      properties:
        value:
          type: object
          nullable: true
        path:
          type: string
          nullable: true
        op:
          type: string
          nullable: true
        from:
          type: string
          nullable: true
      additionalProperties: false
    FilteringArray:
      type: array
      items:
        $ref: '#/components/schemas/Filtering'
    ContractCollectionResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Contract'
          description: The collection of items
      additionalProperties: false
      description: Response wrapper of a collection of items
    ContractFieldData:
      type: object
      properties:
        detailFields:
          $ref: '#/components/schemas/FieldData'
        coreFields:
          $ref: '#/components/schemas/FieldData'
      additionalProperties: false
    FolderReference:
      type: object
      properties:
        folder:
          allOf:
          - $ref: '#/components/schemas/FolderReference'
          description: "The parent folder. \n\nThe folder will be null when the folder is at the root of the resource"
          nullable: true
          readOnly: true
        id:
          type: integer
          description: The system identifier for the folder
          format: int32
          example: 786
        name:
          type: string
          description: The name of the folder
          readOnly: true
          example: Drafts
      additionalProperties: false
    CreateContract:
      required:
      - type
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/ContractTypeReference'
          description: The type of the contract
        id:
          type: integer
          description: The system identifier for the contract
          format: int32
          nullable: true
          readOnly: true
          example: 5348
        name:
          type: string
          description: The user defined name of the contract
          nullable: true
          example: My contract
        owner:
          allOf:
          - $ref: '#/components/schemas/UserReference'
          description: The user assigned as the owner of the contract
          nullable: true
        document:
          allOf:
          - $ref: '#/components/schemas/FileReference'
          description: 'The contract document.


            This is only optional if the contract type has a wizard'
          nullable: true
        expiry:
          type: string
          description: The expiry date of the contract. The date and time uses the ISO-8601 format and will be in the Local timezone of the organization
          format: date-time
          nullable: true
          example: '2024-12-25T00:00:00'
        externalId:
          type: string
          description: A unique user defined identifier that can be used to reference another system
          nullable: true
          example: external-01
        fields:
          type: object
          additionalProperties:
            oneOf:
            - title: 'null'
            - title: Text
              type: string
              example: my text value
            - title: Decimal
              type: number
              example: 78659.84
            - title: Boolean
              type: boolean
              example: true
            - title: Date
              type: string
              example: '2025-05-06'
            - $ref: '#/components/schemas/OptionFieldValue'
            - title: MultiOption
              type: array
              items:
                $ref: '#/components/schemas/OptionFieldValue'
            - $ref: '#/components/schemas/UserFieldValue'
            x-additionalPropertiesName: fieldApiName
          description: The collection of fields associated with the contract
          nullable: true
          example:
            my_text_field: my text value
            my_decimal_field: 78659.84
            my_boolean_field: true
            my_date_field: '2025-05-06'
            my_option_field:
              value: option_1
            my_multioption_field:
            - value: option_a
            - value: option_d
            my_user_field:
              id: f0f1e06e-3005-4093-af7f-1934d55617e1
        restricted:
          type: boolean
          description: 'Is the contract only available to members.


            An indicator where the contract requires membership to access'
          default: false
          nullable: true
          example: false
        teamAssigned:
          allOf:
          - $ref: '#/components/schemas/TeamReference'
          description: The team which this contract is assigned to
          nullable: true
        created:
          allOf:
          - $ref: '#/components/schemas/AuditableUserReference'
          description: The user who created the contract and when
          nullable: true
          readOnly: true
      additionalProperties: false
    RecentContract:
      type: object
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        matterNumber:
          type: string
          nullable: true
        contractStatus:
          enum:
          - Draft
          - Negotiating
          - Approval
          - Signing
          - Executed
          - Expired
          - Void
          type: string
          description: <p>Options:</p><ul><li>Draft</li><li>Negotiating</li><li>Approval</li><li>Signing</li><li>Executed</li><li>Expired</li><li>Void</li></ul>
        ownerId:
          type: string
          nullable: true
        lastActivityDateUtc:
          type: string
          description: The UTC date of when the current user last viewed the Contract
          format: date-time
          nullable: true
      additionalProperties: false
    ResourceType:
      enum:
      - Contract
      - Matter
      type: string
    ContractEntityArray:
      type: array
      items:
        $ref: '#/components/schemas/ContractEntity'
    UserFieldValue:
      title: User
      type: object
      allOf:
      - $ref: '#/components/schemas/UserReference'
    DataSourceResultModel:
      type: object
      properties:
        data:
          type: object
          description: Represents a single page of processed data.
          nullable: true
        total:
          type: integer
          description: The total number of records available.
          format: int64
      additionalProperties: false
    QuickFindContract:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        relationship:
          enum:
          - Master
          - StatementOfWork
          - Amendment
          type: string
          description: <p>Options:</p><ul><li>Master</li><li>StatementOfWork</li><li>Amendment</li></ul>
        parentId:
          type: integer
          format: int32
          nullable: true
        status:
          enum:
          - Draft
          - Negotiating
          - Approval
          - Signing
          - Executed
          - Expired
          - Void
          type: string
          description: <p>Options:</p><ul><li>Draft</li><li>Negotiating</li><li>Approval</li><li>Signing</li><li>Executed</li><li>Expired</li><li>Void</li></ul>
        ownerFullName:
          type: string
          nullable: true
      additionalProperties: false
    Contract:
      type: object
      properties:
        id:
          type: integer
          description: The system identifier for the contract
          format: int32
          nullable: true
          readOnly: true
          example: 5348
        name:
          type: string
          description: The user defined name of the contract
          nullable: true
          example: My contract
        document:
          allOf:
          - $ref: '#/components/schemas/FileReference'
          description: The contract document
          nullable: true
          readOnly: true
        type:
          allOf:
          - $ref: '#/components/schemas/ContractTypeReference'
          description: The type of the contract
          nullable: true
          readOnly: true
        owner:
          allOf:
          - $ref: '#/components/schemas/UserReference'
          description: The user assigned as the owner of the contract
          nullable: true
        expiry:
          type: string
          description: The expiry date of the contract. The date and time uses the ISO-8601 format and will be in the Local timezone of the organization
          format: date-time
          nullable: true
          example: '2024-12-25T00:00:00'
        externalId:
          type: string
          description: A unique user defined identifier that can be used to reference another system
          nullable: true
          example: external-01
        fields:
          type: object
          additionalProperties:
            oneOf:
            - title: 'null'
            - title: Text
              type: string
              example: my text value
            - title: Decimal
              type: number
              example: 78659.84
            - title: Boolean
              type: boolean
              example: true
            - title: Date
              type: string
              example: '2025-05-06'
            - $ref: '#/components/schemas/OptionFieldValue'
            - title: MultiOption
              type: array
              items:
                $ref: '#/components/schemas/OptionFieldValue'
            - $ref: '#/components/schemas/UserFieldValue'
            x-additionalPropertiesName: fieldApiName
          description: The collection of fields associated with the contract
          nullable: true
          example:
            my_text_field: my text value
            my_decimal_field: 78659.84
            my_boolean_field: true
            my_date_field: '2025-05-06'
            my_option_field:
              label: Option 1
              value: option_1
            my_multioption_field:
            - label: Option A
              value: option_a
            - label: Option D
              value: option_d
            my_user_field:
              email: api.developer@lawvu.com
              firstName: Api
              id: f0f1e06e-3005-4093-af7f-1934d55617e1
              lastName: Developer
              organizationId: 8134
        restricted:
          type: boolean
          description: 'Is the contract only available to members.


            An indicator where the contract requires membership to access'
          default: false
          nullable: true
          example: false
        status:
          allOf:
          - $ref: '#/components/schemas/ContractStatus'
          description: The current status of the contract
          nullable: true
          example: Active
        teamAssigned:
          allOf:
          - $ref: '#/components/schemas/TeamReference'
          description: The team which this contract is assigned to
          nullable: true
        created:
          allOf:
          - $ref: '#/components/schemas/AuditableUserReference'
          description: The user who created the contract and when
          nullable: true
          readOnly: true
      additionalProperties: false
    File:
      type: object
      properties:
        id:
          type: integer
          description: The system identifier for the file
          format: int32
          nullable: true
          readOnly: true
          example: 9456
        name:
          type: string
          description: 'The user defined name of the file resource

            For file resources with a type of file this includes the file extension'
          nullable: true
          example: document.txt
        displayId:
          type: string
          description: 'A system generated identifier of the file resource.

            Also known as "Document ID"'
          nullable: true
          readOnly: true
          example: LV0001-0000123.1
        type:
          allOf:
          - $ref: '#/components/schemas/FileType'
          description: The type of file resource
          nullable: true
          readOnly: true
          example: File
        folder:
          allOf:
          - $ref: '#/components/schemas/FolderReference'
          description: "The folder where the file resource is located \n\nFolder is null when the file resource is located at the root of the resource"
          nullable: true
        contentType:
          type: string
          description: The content type of the file binary
          nullable: true
          readOnly: true
          example: text/plain
        resource:
          allOf:
          - $ref: '#/components/schemas/ResourceReference'
          description: The resource where the file resource is located within
          nullable: true
          readOnly: true
        restricted:
          type: boolean
          description: Is the file resource access restricted
          default: false
          nullable: true
          readOnly: true
          example: false
        size:
          type: integer
          description: The size of the file binary in bytes
          format: int64
          nullable: true
          readOnly: true
          example: 18139
        version:
          type: integer
          description: The version number of the file resource
          format: int32
          nullable: true
          readOnly: true
          example: 3
        created:
          allOf:
          - $ref: '#/components/schemas/AuditableUserReference'
          description: The user who created the file resource and when
          nullable: true
          readOnly: true
        modified:
          allOf:
          - $ref: '#/components/schemas/AuditableReference'
          description: The username who modified the file resource and when
          nullable: true
          readOnly: true
      additionalProperties: false
    RecentContractArray:
      type: array
      items:
        $ref: '#/components/schemas/RecentContract'
    UpdateContract:
      type: object
      properties:
        name:
          type: string
          description: The user defined name of the contract
          nullable: true
        owner:
          allOf:
          - $ref: '#/components/schemas/UserReference'
          description: The user assigned as the owner of the contract
          nullable: true
        expiry:
          type: string
          description: The expiry date of the contract. The date and time uses the ISO-8601 format and will be in the Local timezone of the organization
          format: date-time
          nullable: true
        externalId:
          type: string
          description: A unique user defined identifier that can be used to reference another system
          nullable: true
        fields:
          type: object
          additionalProperties:
            oneOf:
            - title: 'null'
            - title: Text
              type: string
              example: my text value
            - title: Decimal
              type: number
              example: 78659.84
            - title: Boolean
              type: boolean
              example: true
            - title: Date
              type: string
              example: '2025-05-06'
            - $ref: '#/components/schemas/OptionFieldValue'
            - title: MultiOption
              type: array
              items:
                $ref: '#/components/schemas/OptionFieldValue'
            - $ref: '#/components/schemas/UserFieldValue'
            x-additionalPropertiesName: fieldApiName
          description: The collection of fields associated with the contract
          nullable: true
          example:
            my_text_field: my text value
            my_decimal_field: 78659.84
            my_boolean_field: true
            my_date_field: '2025-05-06'
            my_option_field:
              value: option_1
            my_multioption_field:
            - value: option_a
            - value: option_d
            my_user_field:
              id: f0f1e06e-3005-4093-af7f-1934d55617e1
        restricted:
          type: boolean
          description: 'Is the contract only available to members.


            An indicator where the contract requires membership to access'
          nullable: true
          example: false
        status:
          allOf:
          - $ref: '#/components/schemas/ContractStatus'
          description: The current status of the contract
          nullable: true
        teamAssigned:
          allOf:
          - $ref: '#/components/schemas/TeamReference'
          description: The team which this contract is assigned to
          nullable: true
      additionalProperties: false
    FileReference:
      type: object
      properties:
        id:
          type: integer
          description: The system identifier for the file
          format: int32
          example: 9456
        name:
          type: string
          description: The name of the file
          readOnly: true
          example: Standard NDA.docx
        version:
          type: integer
          description: The version of the file
          format: int32
          readOnly: true
          example: 3
      additionalProperties: false
    UserReference:
      type: object
      properties:
        email:
          type: string
          description: The email of the user
          readOnly: true
          example: api.developer@lawvu.com
        firstName:
          type: string
          description: The first name of the user
          readOnly: true
          example: Api
        id:
          type: string
          description: The identifier of the user
          example: f0f1e06e-3005-4093-af7f-1934d55617e1
        lastName:
          type: string
          description: The last name of the user
          readOnly: true
          example: Developer
        organizationId:
          type: integer
          description: The system identifier for the organization
          format: int32
          readOnly: true
          example: 8134
      additionalProperties: false
    ContractGroupReference:
      type: object
      properties:
        id:
          type: integer
          description: The system identifier for the contract group
          format: int32
          example: 5002
        name:
          type: string
          description: The name of the contract type
          readOnly: true
          example: Employment
      additionalProperties: false
    ResourceReference:
      type: object
      properties:
        id:
          type: integer
          description: The system identifier for the resource
          format: int32
          example: 78914
        type:
          allOf:
          - $ref: '#/components/schemas/ResourceType'
          description: The type of the resource
          readOnly: true
          example: Contract
      additionalProperties: false
    CreateContract_2:
      required:
      - contractTemplateId
      - name
      type: object
      properties:
        contractTemplateId:
          type: integer
          description: The template for the category
          format: int32
        matterId:
          type: integer
          description: Optionally set the parent matter id
          format: int32
          nullable: true
        parentContractId:
          type: integer
          description: Optionally set the parent contract id
          format: int32
          nullable: true
        fields:
          type: string
          description: The fields (from contract template) for the contract
          nullable: true
        name:
          minLength: 1
          type: string
          description: The contract name
        externalId:
          type: string
          description: Optionally set an ID from an external system. Uniqueness is enforced for your organisation
          nullable: true
        teamId:
          type: integer
          description: 'Assigns a team to the contract. This can be required [ref: contractTemplate: TeamRequired]'
          format: int32
          nullable: true
        contractFile:
          type: string
          format: binary
          nullable: true
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        detail:
          type: string
          description: More information about the problem.
        instance:
          type: string
          description: The URI of the resource which the error relates to.
        operationId:
          type: string
          description: A unique trace identifier for the request. This should be provided when requesting support.
        status:
          type: integer
          description: The HTTP status code for the problem.
          format: int32
        title:
          type: string
          description: A short description of the error.
        type:
          type: string
          description: A URI which can be followed to find out more about the problem.
      additionalProperties: {}
    StatusMessage:
      type: object
      properties:
        message:
          type: string
          nullable: true
        createdDateUtc:
          type: string
          format: date-time
        userId:
          type: string
          nullable: true
        userFirstname:
          type: string
          nullable: true
        userLastname:
          type: string
          nullable: true
        userOrganisationId:
          type: integer
          format: int32
          nullable: true
        userOrganisationName:
          type: string
          nullable: true
        userHasPicture:
          type: boolean
        userPictureCacheId:
          type: integer
          format: int32
        userFullName:
          type: string
          nullable: true
        userInitials:
          type: string
          nullable: true
        userOrganisationHasLogo:
          type: boolean
        userOrganisationPictureCacheId:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    ContractEntity:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
      additionalProperties: false
    TeamReference:
      type: object
      properties:
        id:
          type: integer
          description: The identifier of the team
          format: int32
          example: 469
        name:
          type: string
          description: The full name of the team
          readOnly: true
          example: Legal - Commercial
      additionalProperties: false
    ContractDetails:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        status:
          enum:
          - Draft
          - Negotiating
          - Approval
          - Signing
          - Executed
          - Expired
          - Void
          type: string
          description: <p>Options:</p><ul><li>Draft</li><li>Negotiating</li><li>Approval</li><li>Signing</li><li>Executed</li><li>Expired</li><li>Void</li></ul>
        category:
          enum:
          - Sales
          - Purchasing
          - Commercial
          type: string
          description: <p>Options:</p><ul><li>Sales</li><li>Purchasing</li><li>Commercial</li></ul>
        templateId:
          type: integer
          format: int32
        templateName:
          type: string
          nullable: true
        typeName:
          type: string
          nullable: true
        createdBy:
          type: string
          nullable: true
        createdByUserId:
          type: string
          nullable: true
        ownerId:
          type: string
          nullable: true
        matterId:
          type: integer
          format: int32
          nullable: true
        matterName:
          type: string
          nullable: true
        matterNumber:
          type: string
          nullable: true
        createdDateUtc:
          type: string
          format: date-time
        restricted:
          type: boolean
        hasSow:
          type: boolean
        parentContractId:
          type: integer
          format: int32
          nullable: true
        documentFileId:
          type: integer
          format: int32
          nullable: true
        parentIsRestricted:
          type: boolean
        onContract:
          type: boolean
        onMatter:
          type: boolean
        contractSpecificEmail:
          type: string
          nullable: true
        expiry:
          type: string
          format: date-time
          nullable: true
        teamId:
          type: integer
          format: int32
          nullable: true
        externalId:
          type: string
          nullable: true
        lastStatusMessage:
          $ref: '#/components/schemas/StatusMessage'
        owner:
          $ref: '#/components/schemas/ContractUser'
        executedDateUtc:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    ContractType:
      type: object
      properties:
        id:
          type: integer
          description: The system identifier for the contract type
          format: int32
          nullable: true
          readOnly: true
          example: 1234
        name:
          type: string
          description: The user defined name of the contract type
          nullable: true
          example: Contractor Agreement
        parent:
          allOf:
          - $ref: '#/components/schemas/ContractGroupReference'
          description: The parent contract type
          nullable: true
        hasWizard:
          type: boolean
          description: The contract type has a wizard in place.
          nullable: true
          example: false
        teamAssignmentRequired:
          type: boolean
          description: The contract type has a team assignment required.
          nullable: true
          example: false
      additionalProperties: false
    OptionFieldValue:
      title: Option
      type: object
      properties:
        label:
          type: string
          readOnly: true
          example: Option 1
        value:
          type: string
          example: option_1
    ContractTypeReference:
      type: object
      properties:
        id:
          type: integer
          description: The system identifier for the contract type
          format: int32
          example: 1234
        name:
          type: string
          description: The name of the contract type
          readOnly: true
          example: NDA
      additionalProperties: false
    HttpValidationProblemDetails:
      type: object
      properties:
        detail:
          type: string
          description: More information about the problem.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: A dictionary of validation errors, where each key is a field api name and the value is a list of error messages.
        instance:
          type: string
          description: The URI of the resource which the error relates to.
        operationId:
          type: string
          description: A unique trace identifier for the request. This should be provided when requesting support.
        status:
          type: integer
          description: The HTTP status code for the problem.
          format: int32
        title:
          type: string
          description: A short description of the error.
        type:
          type: string
          description: A URI which can be followed to find out more about the problem.
      additionalProperties: {}
    QuickFindContractArray:
      type: array
      items:
        $ref: '#/components/schemas/QuickFindContract'
    AuditableUserReference:
      type: object
      properties:
        dateUtc:
          type: string
          description: The date and time the action was performed. The date and time uses the ISO-8601 format and will be in UTC
          format: date-time
          readOnly: true
          example: '2024-12-25T00:00:00Z'
        user:
          allOf:
          - $ref: '#/components/schemas/UserReference'
          description: The user who performed the action
          nullable: true
          readOnly: true
        userName:
          type: string
          description: The username of who performed the action
          readOnly: true
          example: api.developer@lawvu.com
      additionalProperties: false
