openapi: 3.0.1
info:
  title: LawVu Account Auth LookupFields API
  description: Apis for account related resources (authentication, profiles, organisation details etc)
  version: '1.0'
servers:
- url: https://api-sandbox.lawvu.com/account-apis
  description: Sandbox API
- url: https://api.lawvu.com/account-apis
  description: Production API
tags:
- name: LookupFields
paths:
  /v1/lookupFields/{id}/choices:
    get:
      tags:
      - LookupFields
      summary: Get available choices for a multi lookup field
      operationId: get-v1-lookupfields-id-choices
      parameters:
      - name: id
        in: path
        description: The ID of the field
        required: true
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Number of results to skip<p>Default: 0</p>'
        schema:
          type: integer
          format: int32
          default: 0
      - name: take
        in: query
        description: 'The maximum number of choices to return<p>Default: 25</p>'
        schema:
          type: integer
          format: int32
          default: 25
      - name: search
        in: query
        description: Text filter
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LookupOptionPaganationResult'
            application/json:
              schema:
                $ref: '#/components/schemas/LookupOptionPaganationResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LookupOptionPaganationResult'
    post:
      tags:
      - LookupFields
      summary: Add a choice to the multi lookup field
      operationId: post-v1-lookupfields-id-choices
      parameters:
      - name: id
        in: path
        description: The ID of the lookup field
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: A model describing the choice to be added
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LookupOptionCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/LookupOptionCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/LookupOptionCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LookupOptionCreate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LookupOption'
            application/json:
              schema:
                $ref: '#/components/schemas/LookupOption'
            text/json:
              schema:
                $ref: '#/components/schemas/LookupOption'
  /v1/lookupFields/{id}/choices/{choiceId}:
    delete:
      tags:
      - LookupFields
      summary: Deletes a choice from the the lookup field
      operationId: delete-v1-lookupfields-id-choices-choiceid
      parameters:
      - name: id
        in: path
        description: The ID of the lookup field
        required: true
        schema:
          type: integer
          format: int32
      - name: choiceId
        in: path
        description: The ID of the choice to remove
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
    patch:
      tags:
      - LookupFields
      summary: Patch a choice, currently only move is supported to merge two choices together
      operationId: patch-v1-lookupfields-id-choices-choiceid
      parameters:
      - name: id
        in: path
        description: The ID of the lookup field
        required: true
        schema:
          type: integer
          format: int32
      - name: choiceId
        in: path
        description: The choice to patch
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: A Json-Patch to apply
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
            - value: 1000
              path: Id
              op: replace
          application/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
            - value: 1000
              path: Id
              op: replace
          text/json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
            - value: 1000
              path: Id
              op: replace
          application/*+json:
            schema:
              $ref: '#/components/schemas/OperationArray'
            example:
            - value: 1000
              path: Id
              op: replace
      responses:
        '200':
          description: Success
  /v1/lookupFields/{id}/choice/single:
    post:
      tags:
      - LookupFields
      summary: Add a choice to the single lookup field
      operationId: post-v1-lookupfields-id-choice-single
      parameters:
      - name: id
        in: path
        description: The ID of the lookup field
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: A model describing the choice to be added
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LookupOptionCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/LookupOptionCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/LookupOptionCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LookupOptionCreate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SingleLookupOption'
            application/json:
              schema:
                $ref: '#/components/schemas/SingleLookupOption'
            text/json:
              schema:
                $ref: '#/components/schemas/SingleLookupOption'
  /v1/lookupFields/{id}/choices/single:
    get:
      tags:
      - LookupFields
      summary: Get available choices for a single lookup field
      operationId: get-v1-lookupfields-id-choices-single
      parameters:
      - name: id
        in: path
        description: The ID of the field
        required: true
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: 'Number of results to skip<p>Default: 0</p>'
        schema:
          type: integer
          format: int32
          default: 0
      - name: take
        in: query
        description: 'The maximum number of choices to return<p>Default: 25</p>'
        schema:
          type: integer
          format: int32
          default: 25
      - name: search
        in: query
        description: Text filter
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SingleLookupOptionPaganationResult'
            application/json:
              schema:
                $ref: '#/components/schemas/SingleLookupOptionPaganationResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SingleLookupOptionPaganationResult'
components:
  schemas:
    LookupOptionCreate:
      type: object
      properties:
        label:
          type: string
          nullable: true
      additionalProperties: false
    LookupOptionPaganationResult:
      type: object
      properties:
        skip:
          type: integer
          format: int32
        take:
          type: integer
          format: int32
        results:
          type: array
          items:
            $ref: '#/components/schemas/LookupOption'
          nullable: true
      additionalProperties: false
    SingleLookupOptionPaganationResult:
      type: object
      properties:
        skip:
          type: integer
          format: int32
        take:
          type: integer
          format: int32
        results:
          type: array
          items:
            $ref: '#/components/schemas/SingleLookupOption'
          nullable: true
      additionalProperties: false
    OperationArray:
      type: array
      items:
        $ref: '#/components/schemas/Operation'
    LookupOption:
      type: object
      properties:
        id:
          type: integer
          format: int32
        label:
          type: string
          nullable: true
      additionalProperties: false
    SingleLookupOption:
      type: object
      properties:
        id:
          type: string
          nullable: true
        label:
          type: string
          nullable: true
      additionalProperties: false
    Operation:
      type: object
      properties:
        value:
          type: object
          nullable: true
        path:
          type: string
          nullable: true
        op:
          type: string
          nullable: true
        from:
          type: string
          nullable: true
      additionalProperties: false
