openapi: 3.2.0
info:
  title: LawVu Matters Matter Categories API
  description: Apis for matter resources
  version: '1.0'
servers:
- url: https://api-sandbox.lawvu.com/matter-apis
  description: Sandbox API
- url: https://api.lawvu.com/matter-apis
  description: Production API
tags:
- name: MatterCategories
paths:
  /v1/mattercategories:
    get:
      tags:
      - MatterCategories
      summary: Matter categories
      description: Gets the configured categories for a matter
      operationId: get-v1-mattercategories
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MatterCategoryArray'
            application/json:
              schema:
                $ref: '#/components/schemas/MatterCategoryArray'
            text/json:
              schema:
                $ref: '#/components/schemas/MatterCategoryArray'
  /v1/mattercategories/{categoryId}/createSchema:
    get:
      tags:
      - MatterCategories
      summary: Matter creation schema
      description: Get the form and fields for rendering a create matter form
      operationId: get-v1-mattercategories-categoryid-createschema
      parameters:
      - name: categoryId
        in: path
        description: The category to get the create form for
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
components:
  schemas:
    MatterCategoryArray:
      type: array
      items:
        $ref: '#/components/schemas/MatterCategory'
    MatterCategory:
      type: object
      properties:
        id:
          type: integer
          format: int32
        parentId:
          type:
          - integer
          - 'null'
          format: int32
        name:
          type:
          - string
          - 'null'
        children:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MatterCategory'
        teamId:
          type:
          - integer
          - 'null'
          format: int32
        isDeleted:
          type: boolean
        teamRequired:
          type: boolean
        hasRules:
          type: boolean
      additionalProperties: false
