openapi: 3.2.0
info:
  title: LawVu Matters Matters Invoices API
  description: Apis for matter resources
  version: '1.0'
servers:
- url: https://api-sandbox.lawvu.com/matter-apis
  description: Sandbox API
- url: https://api.lawvu.com/matter-apis
  description: Production API
tags:
- name: MattersInvoices
paths:
  /v1/matters/{matterId}/invoices:
    get:
      tags:
      - MattersInvoices
      summary: Get matter invoices
      operationId: get-v1-matters-matterid-invoices
      parameters:
      - name: matterId
        in: path
        description: The Id of the matter
        required: true
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: The number of matter invoices to skip (used for paging)
        schema:
          type: integer
          format: int32
      - name: filtering.field
        in: query
        description: Field to filter by (optional)
        schema:
          type: string
      - name: filtering.operator
        in: query
        description: Operator used for filtering (optional)
        schema:
          enum:
          - eq
          - neq
          - lt
          - lte
          - gt
          - gte
          - startswith
          - endswith
          - contains
          - doesnotcon
          - isnull
          type: string
      - name: filtering.value
        in: query
        description: Value to filter by (optional)
        schema:
          type: string
      - name: sorting.direction
        in: query
        description: Set the sorting direction
        schema:
          enum:
          - asc
          - desc
          type: string
      - name: sorting.field
        in: query
        description: Set the sorting fields
        schema:
          type: string
      - name: take
        in: query
        description: 'The maximum number of matter invoices to return<p>Default: 50</p>'
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceDataSourceResult'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDataSourceResult'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceDataSourceResult'
components:
  schemas:
    InvoiceDataSourceResult:
      type: object
      properties:
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Invoice'
          description: Represents a single page of processed data.
        total:
          type: integer
          description: The total number of records available.
          format: int32
      additionalProperties: false
    Invoice:
      type: object
      properties:
        id:
          type: integer
          format: int32
        invoiceNo:
          type:
          - string
          - 'null'
        invoiceDate:
          type:
          - string
          - 'null'
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          format: date-time
        disbursements:
          type:
          - number
          - 'null'
          format: double
        fees:
          type:
          - number
          - 'null'
          format: double
        otherFees:
          type:
          - number
          - 'null'
          format: double
        fileId:
          type:
          - integer
          - 'null'
          format: int32
        status:
          type:
          - string
          - 'null'
        fileName:
          type:
          - string
          - 'null'
        batchId:
          type: integer
          format: int32
        thirdParty:
          type: boolean
        paid:
          type:
          - boolean
          - 'null'
        paidDateUtc:
          type:
          - string
          - 'null'
          format: date-time
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
